@import './utilities/Palette.scss';

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body-styling
{
    
    background-color: $backgroundColor;
    height: 100vh;
    width: 100vw;
}

.App
{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}